# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.TripleX.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\johan\RiderProjects\C++projects\gp20-2021-0527-battleships-frsbrgsJohanH\TripleX\.idea\.idea.TripleX\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
